body {
  background-color: #e6ecf0;
}


.navbar {
  margin-bottom: 1rem;
}

.navbar a {
  font-weight: bold;
  color: white
}

.navbar a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.navbar-brand > img {
  display: inline-block;
  width: 20px;
  margin-bottom: 2px;
  margin-right: 5px;
  border-radius: 2px;
}
ul.nav.navbar-nav li {
  margin: 0 0.5rem;
}

.onboarding > .navbar {
  /* background-image: url("./images/nav-bg.png"); */
  background-size: 100% 100%;
  background: #FF416C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.home-hero {
  width: 100vw;
  height: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
  text-align: center;
  padding: 1rem;
  background-position: center center;
  background-size: cover;
  background: #FF8008;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFC837, #FF8008);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFC837, #FF8008); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}